* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  width: 100%;
  max-width: 1280px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding: 9px;
  }
}

.container > [class^=col] {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .container > [class^=col] {
    padding: 18px;
  }
}

.col--1 {
  width: 8.3333333333%;
}

.col--2 {
  width: 16.6666666667%;
}

.col--3 {
  width: 25%;
}

.col--4 {
  width: 33.3333333333%;
}

.col--5 {
  width: 41.6666666667%;
}

.col--6 {
  width: 50%;
}

.col--7 {
  width: 58.3333333333%;
}

.col--8 {
  width: 66.6666666667%;
}

.col--9 {
  width: 75%;
}

.col--10 {
  width: 83.3333333333%;
}

.col--11 {
  width: 91.6666666667%;
}

.col--12 {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .col--l-1 {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-2 {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-4 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-8 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-10 {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-11 {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col--l-12 {
    width: 100%;
  }
}

.btn {
  background-color: #ffffff00;
  border: white 1.5px solid;
  border-radius: 2.25rem;
  color: white;
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 0.5rem 1rem;
  user-select: none;
  transition: text-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  white-space: nowrap;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  background-color: #fdcc52;
  border-color: #fdcc52;
}

html[data-scroll="0"] .nav {
  background-color: #ffffff76;
}

html:not([data-scroll="0"]) .nav {
  background-color: white;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5000;
}
.nav__site-name {
  display: block;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 200;
  align-self: center;
  color: #fdcc52;
}
.nav__site-name:hover {
  color: #efefef;
  cursor: pointer;
}
.nav__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
@media only screen and (min-width: 992px) {
  .nav__container {
    align-items: center;
  }
}
.nav__list {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  .nav__list {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
}
.nav__item {
  text-align: center;
}
.nav__link {
  text-align: center;
  color: #101010;
  display: block;
  font-size: 13px;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #767676;
}
.nav__hamburger-checkbox {
  display: none;
}
.nav__hamburger-checkbox:checked + .nav__list {
  display: flex;
}
.nav__hamburger-menu-text {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .nav__hamburger-menu-text {
    display: none;
  }
}
.nav__hamburger-label {
  display: flex;
  color: #101010;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .nav__hamburger-label {
    display: none;
  }
}
.nav__hamburger-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.75rem;
}
@media only screen and (min-width: 992px) {
  .nav__hamburger-icon {
    display: none;
  }
}
.nav__hamburger-line {
  background: #101010;
  display: block;
  height: 2px;
  width: 1.5rem;
}

.new-age {
  background: url("../img/bg-pattern.png") repeat, linear-gradient(to right, #dc2430, #7c4396);
  padding-bottom: 72px;
  padding-top: 108px;
}
.new-age__text {
  font-size: 33px;
  font-weight: 100;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: white;
  padding: 20% 20% 10%;
}
.new-age__phone {
  background: url("../img/phone.png") no-repeat;
  background-size: contain;
  display: block;
  width: 4.41in;
  margin: auto;
}
.new-age__image {
  margin: 1in 0.24in 1in;
  width: 3.95in;
}
.new-age__button {
  padding: 0 20% 15%;
}

.discover {
  background-color: #fdcc52;
  padding-bottom: 108px;
  padding-top: 108px;
}
.discover__headline {
  font-size: 33px;
  font-weight: 100;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.discover__kicker {
  text-align: center;
  font-size: 17px;
  font-weight: 200;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
.discover__badges {
  display: flex;
  justify-content: center;
}
.discover__badge {
  width: 135px;
}

.unlimited {
  background-color: white;
  padding-bottom: 72px;
  padding-top: 72px;
}
.unlimited__title {
  margin-bottom: 54px;
}
.unlimited__headline {
  font-size: 31px;
  font-weight: 100;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.unlimited__kicker {
  text-align: center;
  color: #767676;
  font-size: 17px;
  font-weight: 200;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.unlimited__separator {
  display: block;
  height: 1px;
  width: 64px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
}
.unlimited__content {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
}
@media only screen and (min-width: 992px) {
  .unlimited__content {
    flex-flow: row;
  }
}
.unlimited__phone {
  background: url("../img/phone.png") no-repeat;
  background-size: contain;
  display: block;
  width: 4.41in;
  margin: auto auto 64px;
}
.unlimited__phone-screen {
  margin: 1in 0.24in 1in;
  width: 3.95in;
}
.unlimited__tiles {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}
.unlimited__tile {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.unlimited__tile-icon {
  align-self: center;
  margin: 6px;
  font-size: 106px;
}
.unlimited__tile-title {
  align-self: center;
  text-align: center;
  margin: 6px;
}
.unlimited__tile-text {
  align-self: center;
  text-align: center;
  margin: 6px;
}

.stop-wait {
  background: url("../img/bg-cta.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 108px;
  padding-top: 108px;
}
.stop-wait__text {
  font-size: 56px;
  font-weight: 100;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: white;
  padding-left: 30%;
}
.stop-wait__button {
  padding-left: 30%;
  padding-top: 5%;
}

.weheart {
  background-color: #fdcc52;
  padding-bottom: 32px;
  padding-top: 32px;
}
.weheart__headline {
  font-size: 33px;
  font-weight: 100;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.weheart__badges {
  display: flex;
  justify-content: center;
}
.weheart__badge {
  font-size: 64px;
  margin: 5px;
  color: black;
  opacity: 0.5;
}
.weheart__badge:hover {
  opacity: 1;
}

.footer {
  background-color: #101010;
  padding-bottom: 6px;
  padding-top: 6px;
}
.footer__headline {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.15;
  text-align: center;
  color: #767676;
}
.footer__items {
  display: flex;
  justify-content: center;
}
.footer__item {
  font-size: 16px;
  margin: 5px;
  color: #767676;
}
.footer__item:hover {
  color: #fdcc52;
}

/*# sourceMappingURL=main.css.map */
