@use "../functions/functions" as *;

.btn {
  background-color: transparent;
  border: 1.5px solid get-color('white');
  border-radius: 2.25rem;
  color: white;
  font-family: get-font(links);
  padding: 0.5rem 1rem;
  user-select: none;
  transition: text-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  white-space: nowrap;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: get-color('yellow');
    border-color: get-color('yellow');
  }
}