@use "../functions/functions" as *;

.discover {
  background-color: get-color('yellow');
  padding-bottom: 108px;
  padding-top: 108px;

  &__headline {
    font-size: 33px;
    font-weight: 100;
    font-family: get-font(headline);
    line-height: 1.5;
    text-align: center;
  }

  &__kicker {
    text-align: center;
    font-size: 17px;
    font-weight: 200;
    font-family: get-font(headline);
    line-height: 1.5;
  }

  &__badges {
    display: flex;
    justify-content: center;
  }

  &__badge {
    width: 135px;
  }
}