@use "../mixins/mixins" as *;
@use "../functions/functions" as *;

html[data-scroll='0'] {
  .nav {
    background-color: rgba(get-color('white'), .2);
  }
}

html:not([data-scroll='0']) {
  .nav {
    background-color: get-color('white');
    &__site-name {
      &:hover {
        color: get-color('black');
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5000;

  &__site-name {
    display: block;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 200;
    align-self: center;
    color: get-color('yellow');

    &:hover {
      color: get-color('white');
      cursor: pointer;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;

    @include desktop-up {
      align-items: center;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @include desktop-up {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__item {
    text-align: center;
  }

  &__link {
    text-align: center;
    color: get-color('black');
    display: block;
    font-size: 13px;
    font-family: get-font(headline);
    line-height: 1.1;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: get-color('grey');
    }
  }

  &__hamburger {
    &-checkbox {
      display: none;

      &:checked + .nav__list {
        display: flex;
      }
    }

    &-menu-text {
      display: flex;
      align-items: center;

      @include desktop-up {
        display: none;
      }
    }

    &-label {
      display: flex;
      color: get-color('black');
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;

      @include desktop-up {
        display: none;
      }
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.75rem;

      @include desktop-up {
        display: none;
      }
    }

    &-line {
      background: get-color('black');
      display: block;
      height: 2px;
      width: 1.5rem;
    }
  }
}