@use "../functions/functions" as *;
@use "../variables/fonts" as *;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: #{var(default, $fonts)};
}

html {
  scroll-behavior: smooth
}