@use "../functions/functions" as *;
@use "../variables/fonts" as *;

.stop-wait {
  background: url("../img/bg-cta.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 108px;
  padding-top: 108px;

  &__text {
    font-size: 56px;
    font-weight: 100;
    font-family: #{var(headline, $fonts)};
    line-height: 1.5;
    color: white;
    padding-left: 30%;
  }

  &__button {
    padding-left: 30%;
    padding-top: 5%;
  }
}