@use "../variables/navigation" as *;
@use "../mixins/mixins" as *;
@use "../functions/functions" as *;
@use "../variables/fonts" as *;


.unlimited {
  background-color: white;
  padding-bottom: 72px;
  padding-top: 72px;

  &__title {
    margin-bottom: 54px;
  }

  &__headline {
    font-size: 31px;
    font-weight: 100;
    font-family: #{var(headline, $fonts)};
    line-height: 1.5;
    text-align: center;
  }

  &__kicker {
    text-align: center;
    color: #767676;
    font-size: 17px;
    font-weight: 200;
    font-family: #{var(headline, $fonts)};
    line-height: 1.5;
    text-align: center;
  }

  &__separator {
    display: block;
    height: 1px;
    width: 64px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
  }

  &__content {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;

    @include desktop-up {
      flex-flow: row;
    }
  }

  &__phone {
    background: url("../img/phone.png") no-repeat;
    background-size: contain;
    display: block;
    width: 4.41in;
    margin: auto auto 64px;
  }

  &__phone-screen {
    margin: 1in 0.24in 1in;
    width: 3.95in;
  }

  &__tiles {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }

  &__tile {
    display: flex;
    flex-flow: column;
    justify-content: center;

    &-icon {
      align-self: center;
      margin: 6px;
      font-size: 106px;
    }

    &-title {
      align-self: center;
      text-align: center;
      margin: 6px;
    }

    &-text {
      align-self: center;
      text-align: center;
      margin: 6px;
    }
  }
}