@use "../variables/navigation" as *;
@use "../functions/functions" as *;

.weheart {
  background-color: #fdcc52;
  padding-bottom: 32px;
  padding-top: 32px;

  &__headline {
    font-size: 33px;
    font-weight: 100;
    font-family: get-font(headline);
    line-height: 1.5;
    text-align: center;
  }

  &__badges {
    display: flex;
    justify-content: center;
  }

  &__badge {
    font-size: 64px;
    margin: 5px;
    color: black;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}