$config: (
        grid: (
                columnCount: 12,
                breakpoint: (
                        desktop: 992px,
                )
        ),
        container: (
                classname: container,
                maxWidth: 1280px,
                padding: (
                        default: 5px,
                        desktop: 9px
                )
        ),
        column: (
                classname: col,
                postfix: (
                        default: '',
                        desktop: 'l-'
                ),
                padding: (
                        default: 10px,
                        desktop: 18px
                )
        )
);